<div class="text-2xl font-bold">Estadísticas</div>
<div class="text-lg mt-2">Datos sobre la edad de los clientes</div>

<div class="mt-8 p-4 w-full flex flex-wrap">


    <div class="w-70 h-50 p-4 mr-6 mb-6 rounded-xl border-1 border-gray-300 bg-white">
        <div class="text-xl">Edad promedio</div>
        <div class="flex items-end">
            <div class="text-[140px] -mt-10">{{ promedio }}</div>
            <div class="mb-10 text-3xl">años</div>
        </div>
    </div>

    <div class="w-70 h-50 p-4 mr-6 mb-6 rounded-xl border-1 border-gray-300 bg-white">
        <div class="text-xl">Desvío estandar</div>
        <div class="flex items-end">
            <div class="text-[140px] -mt-10">{{ desvio }}</div>
            <div class="mb-10 text-3xl">años</div>
        </div>
    </div>


</div>
