<mat-card-header>
  <mat-card-title>Lista de clientes</mat-card-title>
  <mat-card-subtitle>Listado de clientes con todos los datos</mat-card-subtitle>
</mat-card-header>

<div class="mt-8 p-4 w-full flex flex-wrap">


    <div class="w-70 h-50 p-4 mr-6 mb-6 rounded-xl bg-[#00b9e8]">
        <div class="text-xl">Edad promedio</div>
        <div class="flex items-end">
            <div class="text-[140px] -mt-10">35</div>
            <div class="mb-10 text-3xl">años</div>
        </div>
    </div>

    <div class="w-70 h-50 p-4 mr-6 mb-6 rounded-xl bg-[#00b9e8]">
        <div class="text-xl">Desvio estandar</div>
        <div class="flex items-end">
            <div class="text-[140px] -mt-10">7</div>
            <div class="mb-10 text-3xl">años</div>
        </div>
    </div>


</div>
