<mat-drawer-container class="h-screen">
  <mat-drawer #drawer [mode]="drawerMode" [opened]="drawerMode === 'side'">
    <!-- Aquí tu menú o navegación lateral -->
    <app-sidenav (navEvent)="drawerMode === 'over' && drawer.toggle()"></app-sidenav>
  </mat-drawer>

  <mat-drawer-content>
    <!-- Header, barra superior -->
    <app-header (toggleSidebar)="drawer.toggle()"></app-header>

    <!-- Contenido que cambia según la ruta -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
