<div class="w-full p-8 bg-gray-100">
  <h1 class="text-4xl mb-8">Clientes PinApp</h1>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-6 "
  >
    
  <mat-card appearance="outlined" class="h-full w-full p-4 !bg-white shadow-md">
    <nuevo-cliente></nuevo-cliente>
  </mat-card>

  <mat-card appearance="outlined" class="h-full w-full p-4 !bg-white shadow-md">
    <clientes-kpi></clientes-kpi>
  </mat-card>

  <mat-card appearance="outlined" class="h-full w-full p-4 lg:col-span-2 !bg-white shadow-md">
    <lista-clientes></lista-clientes>
  </mat-card>
  </div>
</div>
